# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\rnala\OneDrive\바탕 화면\bibi\keep learning!\learningJavascript\인프런 Javascript입문 - 호눅스\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
